div.suggestions {
    /*
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    */
    border: 1px solid black;
    position: absolute;
    background-color: #fff;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: auto;
    height: 10em;
}

div.suggestions div {
    cursor: default;
    padding: 0px 3px;
    /*width: 99%*/;
}

div.suggestions div.current {
    background-color: #3366cc;
    color: white;
}